.containerGeneral{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 300px 80px 300px;
}

.title{
    color: #01be96;
    font-size: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: #191923;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 black;
    width: 300px;
}

.containerInput{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.label{
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
    text-shadow: 1.5px 1.5px 4px black;
}

.input{
    border-radius: 10px;
    height: 30px;
    background-color: #2c2c38;
    color: white;
    margin-bottom: 5px;
    padding: 3px 30px 3px 30px;
    font-size: 15px;
    box-shadow: 0 0 5px 0 black;
    resize: none;
    transition: transform 0.3s ease-in-out;
}

.input:hover{
    transform: scale(1.03) ;
    -webkit-transform: scale(1.03) ;
    -moz-transform: scale(1.03) ;
}

.containerButton{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    background-color: #01be96;
    cursor: pointer;
    box-shadow: 0 0 5px 0 black;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.button:hover{
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
}

.errors{
    margin: 0;
    font-size: 13px;
    color: #01be96;
}