.containerGeneralFiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    background-color: #191923;
}

.containerFiles{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
    justify-content: space-evenly;
    width: 100%;

}

.title{
    color: #01be96;
    font-size: 30px;
}
